@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center; /* Center all child elements */
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 20px;
  text-align: left; /* Align form inputs and labels to the left */
}

label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
  display: block;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.2); /* Slightly enlarge checkbox for better visibility */
  cursor: pointer; /* Add pointer cursor for a better user experience */
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 8px;
  justify-content: flex-start; /* Align with input fields */
  gap: 5px; /* Add spacing between checkbox and label */
}

input[type="checkbox"] {
  margin: 0; /* Remove extra margins */
  transform: scale(1.2); /* Slightly enlarge the checkbox for better visibility */
  cursor: pointer;
}

.checkbox-group label {
  font-size: 0.9rem;
  color: #555;
  cursor: pointer;
  margin: 0; /* Remove extra margins */
  line-height: 1; /* Ensure proper vertical alignment with checkbox */
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-button {
  background-color: #44db88;
}

.login-button:hover {
  background-color: #005f37;
}

.register-button {
  background-color: #007BFF;
}

.register-button:hover {
  background-color: #0056b3;
}

.deny-button {
  background-color: #e45959;
}

.deny-button:hover {
  background-color: #c00d0d;
}

body,
html {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
