body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.register-button {
  background-color: #007BFF;
  margin-top: 20px;
}

.register-button:hover {
  background-color: #0056b3;
}

.login-button {
  background-color: #007BFF;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #0056b3;
}